.cherry-previewer{
  a {
    color: var(--primary-color);
    position: relative;
    text-decoration: none;

    &[target='_blank'] {
      padding: 0 2px;

      &::after {
        margin: 0 2px;
      }
    }

    &:hover {
      color: var(--primary-color);
    }
  }
  .cm-link {
    color: var(--primary-color);
  }


}

