.cherry-previewer {
  blockquote {
    border-left: 0.5rem solid var(--blur-text-color);
    padding: 1rem 1rem;
    color: var(--panel-border-color);
    margin:  1rem 0;
    background: var(--hover-bg-color);
  }
  blockquote blockquote {
    padding-right: 0;
  }
}
