.cherry-previewer {
  .cherry-card {
    margin: 0.7rem 0;

    a::after {
      content: "";
      display: none;
      clear: both;
    }

    .cherry-card-item {
      width: calc(100% / 3 - 1rem);
      margin: 0.35rem;
      background: var(--bg-color);
      border-radius: var(--border-radius);
      color: var(--text-color);
      display: flex;
      box-shadow: var(--shadow);
      transition: all 0.4s;

      &.cherry-card-row-1 {
        width: calc(100% - 1rem);
      }

      &.cherry-card-row-2 {
        width: calc(100% / 2 - 1rem);
        @media  screen and (max-width: 500px) {
          width: calc(100% - 1rem);
        }
      }

      &.cherry-card-row-3 {
        width: calc(100% / 3 - 1rem);
        @media  screen and (max-width: 720px) {
          width: calc(100% / 2 - 1rem);
        }
        @media (max-width: 500px) {
          width: calc(100% - 1rem);
        }
      }

      &.cherry-card-row-4 {
        width: calc(100% / 4 - 1rem);
        @media  screen and (max-width: 900px) {
          width: calc(100% / 3 - 1rem);
        }
        @media  screen and (max-width: 720px) {
          width: calc(100% / 2 - 1rem);
        }
        @media  screen and (max-width: 500px) {
          width: calc(100% - 1rem);
        }
      }

    }

    &.cherry-card-list-container {
      margin: -0.35rem;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .cherry-card-item {


        .cherry-card-body {
          height: 4rem;
          width: calc(100% - 6rem);
        }

        &:hover {
          text-decoration: none;
          box-shadow: var(--shadow);
          transform: translateY(-3px) scale(1.01);

          img {
            box-shadow: var(--shadow);
          }

          div p {
            text-shadow: var(--shadow);
          }
        }

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: var(--border);
          margin: 1rem 0 1rem 1rem;
          box-shadow: var(--shadow);
          transition: all 0.4s;
        }

        div {
          flex: 1;
          display: inline-block;
          float: right;
          padding: 1rem 0;

          p {
            margin: 0;
            padding: 0 1rem;
            transition: text-shadow 0.4s;
            text-align: center;
          }

          .cherry-card-title {
            margin: 0.2rem 0 0.3rem;
            font-size: 1rem;
            font-weight: bold;
            white-space: nowrap; /* 文本不换行 */
            overflow: hidden; /* 隐藏超出容器的内容 */
            text-overflow: ellipsis; /* 超出部分显示省略号 */
          }

          .cherry-card-desc {
            font-size: 0.8rem;
            opacity: 0.8;
            margin-bottom: 0.2rem;
            overflow: hidden; /* 隐藏超出容器的内容 */
            display: -webkit-box; /* 使用弹性盒子模型 */
            -webkit-box-orient: vertical; /* 垂直布局 */
            -webkit-line-clamp: 2; /* 限制显示的行数为 2 行 */
            text-overflow: ellipsis; /* 超出部分显示省略号 */
            line-height: 1.5; /* 设置行高 */
            max-height: 3em; /* 行高的倍数（2行 * 1.5行高 = 3em） */
          }
        }

        &.cherry-card-row-1 {


          img {
            margin-left: 2rem;
          }
        }

        &.cherry-card-row-2 {
          img {
            margin-left: 1.5rem;
          }
        }

      }
    }

    &.cherry-card-image-container {
      margin: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .cherry-card-item {
        background: transparent;


        &:hover {
          box-shadow: var(--shadow);
          transform: translateY(-3px);
        }

        .cherry-card-box-img {
          border-radius: var(--border-radius) var(--border-radius) 0 0;
          overflow: hidden;
          position: relative;
          background: transparent;
          height: 8rem;

          img {
            display: block;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
          }
        }

        a {
          color: var(--textColor);
          transition: color 0.3s;

          &:hover {
            text-decoration: none;
          }
        }

        .cherry-card-box-info {
          border-radius: 0 0 var(--border-radius) var(--border-radius);
          padding: 0.8rem 1rem;
          background: var(--bg-color);

          p {
            margin: 0;
          }
          .cherry-card-title {
            font-size: 1rem;
            font-weight: bold;
          }
          .cherry-card-desc {
            margin-top: 0.3rem;
            opacity: 0.8;
            font-size: 0.9rem;
            line-height: 1.1rem;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
          }

        }


      }
    }
  }

}
