

.cherry-previewer{
  div[data-type='codeBlock'] {
    @import '../components/prism';

  }
  div[data-type='codeBlock'] {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    overflow-x: auto;

    & > pre {
      margin: 0;
      code[class*='language-'] {
        counter-reset: line;
        &.wrap {
          white-space: pre-wrap;
        }
        .code-line {
          display: inline-block;
          position: relative;
          padding-left: 3em;
          height: 1.3em;
          line-height: 2em;
          &:before {
            counter-increment: line;
            content: counter(line);
            margin-right: 1em;
            position: absolute;
            left: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  code {
    border: var(--window-border);
    background-color: var(--color-popover-bg-color);
    border-radius: 3px;
    padding: 0 2px 0 2px;
    font-size: 0.9em;
  }
  pre{
    code{
      border: unset;
    }
  }
}
