.cherry-previewer {
  --detail-bg-color: #eee;
  --detail-text-color: inherit;
  --detail-code-bg-color: rgb(127 127 127 / 15%);
  .cherry-dark {
    --detail-bg-color: #333;
    --detail-text-color: #a8a8a8;
  }
  .cherry-detail{
    position: relative;
    display: block;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    background: var(--detail-bg-color);
    color: var(--detail-text-color);
    summary {
      position: relative;
      margin: -1.5rem;
      padding-block: 1.5rem;
      padding-inline: 4rem 1.5rem;
      list-style: none;
      cursor: pointer;
    }
  }
  .cherry-detail {
    details {
      background: #f8f9faaa;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 10px;
      summary {
        user-select: none;
        padding: 5px 10px;
        background-color: #6c757d;
        color: #fff;
        border-radius: 8px;
      }
      .cherry-detail-body {
        padding: 15px 25px 0 25px;
      }
    }
  }

  .cherry-detail__multiple {
    border-radius: 8px;
    overflow: hidden;
    details {
      margin-bottom: 1px;
      border-radius: 0;
      border: none;
      summary {
        border-radius: 0;
      }
    }
  }
}
