.cherry-previewer{
  img ,video,audio {
    max-width: 100%;
  }
  a[target=_blank].cherry-file{
    padding: 0!important;
    &::after {
      content: '';
      display: none;
    }
  }


  .cherry-file {
    max-width:300px;
    &.cherry-card-list-container{
      margin: 0!important;
    }
    .cherry-card-item{
      padding: 0;
      background: var(--primary-color)!important;
      color: var(--primary-btn-text-color)!important;
    }
   .cherry-card-image{
     font-size: 4rem;
     position: unset;
     transform: none;
     display: flex;
     align-items: center;
     margin-left: 1rem;
   }
   .cherry-no-desc {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }

    .cherry-card-desc{
      display: flex!important;
      align-items: center; /* 垂直对齐 */
      justify-content: center;
      span{
        position: unset;
        transform: none;

      }
    }
  }


}
.cherry-editor {
  .cm-s-default {
    .cm-image-type,.cm-image-split {
      color: var(--codemirror-operator-inner-color);
    }
  }

}
