.cherry-previewer{
  img ,video,audio {
    max-width: 100%;
  }

  .cherry-file {
    display: flex;
    background-color: var(--bg-color);
    box-shadow: unset;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    &:hover{
      box-shadow: var(--shadow);
      transform: translateY(-3px);
    }
  }

  .cherry-file-icon {
    background-color: var(--primary-color);
    color: var(--primary-btn-text-color);
    padding: 1.5rem;
    .material-symbols-outlined {
      font-size: 3rem;
    }
  }

  .cherry-file-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .cherry-file-content h2 {
    margin: 0;
    font-size: 1.5em;
  }

  .cherry-file-content p {
    margin: 0.8rem 0 0;
    font-size: 1.2em;
    color: var(--panel-border-color);
  }

}
.cherry-editor {
  .cm-s-default {
    .cm-image-type,.cm-image-split,.cm-image-split-v2 {
      color: var(--codemirror-operator-color);
    }
  }

}
