.cherry-previewer{
  :not(pre) > code {
    border: var(--border);
    background-color: var(--code-bg);
    border-radius: var(--border-radius);
    padding: 0.1rem 0.3rem;
    margin: 0 0.2rem;
    font-size: 0.9em;
  }
}
