.cherry-previewer {
  ul,
  ol,
  dl {
    margin: 0.8em 0;
  }

  li {

    display: list-item;
    unicode-bidi: isolate;

    ol, ul {
      margin: 0 0;
    }

    p {
      .first {
        display: inline-block;
      }

      margin: .5rem;
    }
  }

  ol{
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }



  ul,
  ol {
    padding-left: 1.4rem;
  }

  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }

  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }

  div {
    ul,
    ol {
      margin-bottom: 0;
    }
  }
  .check-list-item {
    list-style: none;
    margin-top: 0.5rem;
  }
}
