@use "variables/colors";
@use  "google-fonts" as *;

@use "components/bubble";
@use  "components/toolbar" as *;
@use "components/dropdown" as *;
@use "components/codemirror" as *;
@use  "components/editor" as *;
@use "components/preview" as *;

.cherry {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
  min-height: 100px;
  position: relative;
  .cherry-editor,
  .cherry-previewer {
    max-height: calc(100% - var(--toolbar-height));
    min-height: calc(100% - var(--toolbar-height));
  }
  .CodeMirror {
    height: 100%;
  }

  &.cherry--no-toolbar {
    .cherry-toolbar,
    .cherry-sidebar {
      height: 0;
      display: none;
    }

    .cherry-editor,
    .cherry-previewer {
      max-height: 100%;
      min-height: 100%;
    }
  }
  line-height: var(--line-height);
  color: var(--text-color);
  background: var(--bg-color);
  box-shadow: var(--shadow);
  font-size: var(--font-size);
  font-family: var(--font-family), serif;

  .cherry-drag {
    width: 1rem;
    cursor: ew-resize;
    position: absolute;
    z-index: 12;
    background: transparent;

    &.cherry-drag--show {
      width: 0.5rem;
      display: block;
      background: var(--drag-bg-color);
    }

    &.cherry-drag--hidden {
      display: none;
    }
  }

  .cherry-editor-mask {
    z-index: 10;
    position: absolute;
    display: none;
    background: var(--editor-mask-bg);

    &.cherry-editor-mask--show {
      display: block;
    }
  }

  .cherry-previewer-mask {
    z-index: 10;
    position: absolute;
    display: none;
    background: var(--previewer-mask-bg);

    &.cherry-previewer-mask--show {
      display: block;
    }
  }
  *::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    background: transparent;
  }
  *::-webkit-scrollbar:hover {
    background: transparent;
  }
 *::-webkit-scrollbar-thumb {
    background:  var(--hover-bg-color);
    -webkit-border-radius: var(--border-radius);
  }
 *::-webkit-scrollbar-thumb:hover {
    background:var(--panel-border-color);
  }
 *::-webkit-scrollbar-corner {
    background: transparent;
  }

}
