@import url("https://fonts.loli.net/css2?family=Material+Symbols+Outlined");


.cherry{

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0.3rem;
  }

}



.cherry-dropdown {
  .material-symbols-outlined {
    margin-right: 0.6rem;
  }
}
