@use "colors" as *;
$lineHeight: 1.5;
$fontColor: var(--text-color);
$editorBg:var(--bg-color);
$shadow: unset;
$fontFamily: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
$monospaceFont: 'Menlo', 'Liberation Mono', 'Consolas', 'DejaVu Sans Mono', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;
$fontSize: 1rem;
