:root {
  --bg-color: #ffffff; /*背景色*/
  --text-color: #333333; /*文本颜色*/

  --hover-bg-color: rgba(229, 229, 229, 0.59); /*浮动的背景色*/
  --hover-text-color: inherit;


  --primary-color: #428bca; /* color of primary buttons */
  --primary-btn-border-color: #285e8e;
  --primary-btn-text-color: #fff;


  --border-radius: 0.5rem;
  --border-color:#e9e9e9;
  --panel-border-color: #777777;
  --border: 1px solid var(--border-color);

  --disabled-text-color:#777;
  --shadow:0 0 0.8rem rgba(128, 145, 165, 0.2);

  --line-height:1.5;

  --font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
  --monospace: 'Menlo', 'Liberation Mono', 'Consolas', 'DejaVu Sans Mono', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;
  --font-size: 1rem;

  --code-bg:#fafafa;
  --blur-text-color: #C8C8C8;


  --bg-on-bg-color:#ebf3ff;


  --codemirror-operator-text-color: #FF5733;  /* 橙红色 */
  --codemirror-operator-color: #1E90FF;  /* 道奇蓝 */
  --codemirror-operator-inner-color: #C70039;  /* 道奇蓝 */


}
