$bubble-min-height: 2.1875rem; // 35px converted to rem (35 / 16)

.cherry-bubble {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-size: 0.875rem; // 14px converted to rem (14 / 16)

  // min-height for overflow wrap
  min-height: $bubble-min-height;
  min-width: 3.125rem; // 50px converted to rem (50 / 16)

  border: var(--border);
  background-color: var(--bg-color);
  box-shadow: 0 0.125rem 0.9375rem -0.3125rem rgba(0, 0, 0, 0.5); // 0 2px 15px -5px converted to rem
  border-radius: var(--border-radius);
  z-index: 8;

  &.cherry-bubble--centered {
    left: 50%;
    transform: translateX(-50%);
  }

  // triangle
  .cherry-bubble-top,
  .cherry-bubble-bottom {
    position: absolute;
    left: 50%;

    width: 0;
    height: 0;

    margin-left: -0.5rem; // 8px converted to rem (8 / 16)
    border-left: 0.5rem solid rgba(0, 0, 0, 0); // 8px converted to rem
    border-right: 0.5rem solid rgba(0, 0, 0, 0); // 8px converted to rem
  }

  .cherry-bubble-top {
    top: 0;
    transform: translateY(-100%);
    border-bottom: 0.5rem solid var(--bg-color); // 8px converted to rem
  }

  .cherry-bubble-bottom {
    bottom: 0;
    transform: translateY(100%);
    border-top: 0.5rem solid var(--bg-color); // 8px converted to rem
  }

  .cherry-toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // FIXME: remove fixed height
    height: $bubble-min-height;

    // line-height: calc($bubble-min-height - 0.125rem); // border 2px
    cursor: pointer;
    user-select: none;

    &:hover {
      border-color: var(--active-file-border-color);
      background-color: var(--hover-bg-color);
    }

    &.cherry-toolbar-split {
      height: 65%;
      min-height: calc(0.65 * #{$bubble-min-height});
    }
  }

}

.cherry-switch-paste {
  .switch-btn--bg {
    position: absolute;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0.3;
    background-color: var(--active-file-border-color);
    border-radius: var(--border-radius);
    transition: all 0.3s;
  }
  .cherry-toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem; // 80px converted to rem (80 / 16)
    text-align: center;
    &:hover {
      border-color: transparent;
    }
  }
  &[data-type='text'] {
    .cherry-text-btn {
      color: var(--text-color);
    }
    .cherry-md-btn {
      color: var(--hover-text-color);
    }
  }
  &[data-type='md'] {
    .cherry-md-btn {
      color: var(--text-color);
    }
    .cherry-text-btn {
      color: var(--hover-text-color);
    }
    .switch-btn--bg {
      left: 50%;
    }
  }
}
