.cherry-editor {
  position: relative;
  padding-top: 0.3125rem;
  padding-right: 0.3125rem;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;

  border-right: 0.125rem solid var(--border-color);

  &.cherry-editor--full {
    width: 100%;
    padding-right: 0;
  }

  &.cherry-editor--hidden {
    display: none;
  }


  .CodeMirror {
    font-family: var(--font-family), serif;
    background: var(--bg-color);
    color: var(--text-color);
    .cm-cursor-line {
      background-color: var(--hover-bg-color);
    }

    .CodeMirror-vscrollbar {
      scrollbar-color: var(--hover-bg-color) var(--bg-color);
      &:hover{
        scrollbar-color: var(--panel-border-color) var(--bg-color);
      }
    }

    textarea {
      font-size: var(--font-size);
    }

    .CodeMirror-line {
    padding-left: 2rem;
      padding-right: 2rem;
    }

  }
  .CodeMirror-scroll {
    margin-right: 0;
    padding-right: 0;
    .CodeMirror-sizer{
      margin-right: 0;
      padding-right: 0!important;
      border-right-width: 0!important;
    }
  }
  .CodeMirror-lines {
    padding: 0.9375rem 0 0.9375rem 0;
    width: 100%;
    .base64 {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 5rem;
      white-space: nowrap;
      vertical-align: bottom;
     // color: darkmagenta !important;
      font-size: 0.75rem !important;
    }
  }


  .CodeMirror pre {
    font-family: var(--font-family), serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
  }

}
