@use "../variables/cherry" as *;
.cherry-editor {
  position: relative;
  padding-top: 0.3125rem;
  padding-right: 0.3125rem;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;

  border-right: 0.125rem solid #ebedee;

  &.cherry-editor--full {
    width: 100%;
    padding-right: 0;
  }

  &.cherry-editor--hidden {
    display: none;
  }

  .CodeMirror {
    font-family: $fontFamily;
    background: $editorBg;
    color: $fontColor;
    .cm-cursor-line {
      background-color: var(--item-hover-bg-color);
    }

    textarea {
      font-size: $lineHeight;
    }

    .CodeMirror-gutter-wrapper {
      position: absolute;
      left: -3rem!important;

    }
    .CodeMirror-sizer{
      margin-left: 1rem!important;
    }
  }

  .CodeMirror-lines {
    padding: 0.9375rem 2.125rem  ;
    .base64 {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 5rem;
      white-space: nowrap;
      vertical-align: bottom;
     // color: darkmagenta !important;
      font-size: 0.75rem !important;
    }
  }


  .CodeMirror pre {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
  }

}
