@use "../core/AutoLink";
@use "../core/Paragraph";
@use "../core/List";
@use "../core/Blockquote";
@use "../core/CodeBlock";
@use "../core/Header";
@use "../core/Panel";
@use "../core/Detail";
.cherry-previewer {
  padding: 1.25rem 2.8125rem 1.25rem 1.25rem;
  border-left: 0.125rem solid #ebedee;
  width: 50%;
  box-sizing: border-box;
  background-color: var(--bg-color);
  min-height: auto;
  overflow-y: auto;
  -webkit-print-color-adjust: exact;
  scrollbar-color: var(--item-hover-bg-color) var(--bg-color);
  &:hover{
    scrollbar-color: var(--panel-border-color) var(--bg-color);
  }
  .cherry-mobile-previewer-content {
    width: 23.4375rem;
    height: 100%;
    margin: 0 auto;
    padding: 1.5625rem 1.875rem;
    overflow-y: scroll;
    box-shadow: 0 0 3.75rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  &.cherry-previewer--hidden {
    width: 0;
    display: none;
  }

  &.cherry-previewer--full {
    width: 100%;
  }

  .cherry-list__upper-roman {
    list-style: upper-roman;
  }

  .cherry-list__lower-greek {
    list-style: lower-greek;
  }

  .cherry-list__cjk-ideographic {
    list-style: cjk-ideographic;
  }

  .cherry-list__circle {
    list-style: circle;
  }

  .cherry-list__square {
    list-style: square;
  }

}

.cherry-color-wrap {
  display: none;
  position: fixed;
  width: auto;
  padding: 0.3125rem 0.625rem;
  z-index: 6;
  background: #fff;

  h3 {
    font-size: 0.75rem;
    margin: 0;
    font-weight: 400;
  }


  .cherry-color-text {
    float: left;
    width: 8rem;
    margin: 0 0.5rem 0 0.3125rem;
  }

  .cherry-color-bg {
    float: left;
    width: 8rem;
    margin-right: 0.3125rem;
  }

  .cherry-color-item {
    float: left;
    width: 0.875rem;
    height: 0.875rem;
    border: 0.0625rem solid #fff;
    cursor: pointer;

    &:hover {
      border: 0.0625rem solid #000;
    }
  }
}
