@use "../core/AutoLink";
@use "../core/Link";
@use "../core/Paragraph";
@use "../core/List";
@use "../core/Blockquote";
@use "../core/CodeBlock";
@use "../core/InlineCode";
@use "../core/Header";
@use "../core/Panel";
@use "../core/Detail";
@use "../core/Emphasis";
@use "../core/Image";
@use "../core/Card";
@use "../core/Hr";
@use "../core/Table";
@use "../core/Suggester";
@use "../core/Color";
@use "../core/Emoji";
@use "../core/Sub";
@use "../core/Sup";
@use "../core/Toc";
@use "../core/Size";
@use "../core/Mark";
.cherry-previewer {
  padding: 1.25rem  2rem;
  border-left: 0.125rem solid var(--border-color);
  width: 50%;
  box-sizing: border-box;
  background-color: var(--bg-color);
  min-height: auto;
  overflow-y: auto;
  -webkit-print-color-adjust: exact;


  &.cherry-previewer--hidden {
    width: 0;
    display: none;
  }

  &.cherry-previewer--full {
    width: 100%;
  }

  .cherry-list__upper-roman {
    list-style: upper-roman;
  }

  .cherry-list__lower-greek {
    list-style: lower-greek;
  }

  .cherry-list__cjk-ideographic {
    list-style: cjk-ideographic;
  }

  .cherry-list__circle {
    list-style: circle;
  }

  .cherry-list__square {
    list-style: square;
  }

}


