.cherry{
.cherry-editor-stats {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.75rem;
    color: var(--text-color);
    background: var(--bg-color);
    padding: 0.125rem 0.5rem;
  box-sizing: border-box;
    z-index: 100;
    user-select: none;
    display: flex;
    gap: 0.75rem;
    align-items: center;
  width: 100%;
  opacity: 1;
  }
  
  .cherry-stats-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .cherry-stats-item .material-symbols-outlined {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0;
    transform: none;
  }
}
