.cherry{
  --toolbar-height:3rem;
  --toolbar-fontsize:0.9rem;
  .cherry-toolbar {
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
    height: var(--toolbar-height);
    font-size: var(--toolbar-fontsize);
    line-height: 2.8;
    flex-basis: 100%;
    box-sizing: border-box;
    z-index: 2;
    user-select: none;
    box-shadow: var(--shadow);
    background: var(--bg-color);
    overflow: hidden;

    .toolbar-left,
    .toolbar-right {
      display: flex;
      align-items: center;
      height: var(--toolbar-height);
    }

    .toolbar-left {
      flex: 1 1 auto;
      margin-right: 1.2rem;
      flex-wrap: wrap;
      min-height: var(--toolbar-height);
      align-content: center;
    }

    .toolbar-right {
      flex: 0 0 auto;
      flex-direction: row-reverse;
      margin-left: 0.8rem;
      box-sizing: border-box;
    }

    &.preview-only {
      .cherry-toolbar-button {
        display: none;
      }

      .cherry-toolbar-switchPreview {
        display: inline;
      }
    }

    &-button {
      float: left;
      padding: 0 0.4rem;
      height: 3rem;
      color: var(--text-color);
      background: transparent;
      border: 1px solid transparent;
      -webkit-transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s, border-color ease-in-out 0.15s;
      transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s, border-color ease-in-out 0.15s;
      cursor: pointer;
      font-style: normal;
      display: flex;
      align-items: center;
      
      i.material-symbols-outlined {
        font-size: 1.4rem;
        margin: 0 0.3rem;
        position: static;
        transform: none;
      }

      &:hover {
        color: var(--hover-text-color);
        background: var(--hover-bg-color);
      }

      &.cherry-toolbar-split {
        font-size: 0;
        height: 1.5rem;
        padding: 0;
        margin: 0.8rem 0.4rem;
        border: 0.1rem solid transparent;
        border-left-color: var(--border-color);
        pointer-events: none;
        overflow: hidden;
        opacity: 0.5;
      }

      &.disabled {
        color: var(--disabled-text-color);
      }
    }
  }
}
